html
  head
    title Pug Ejemplo0 - #{title}
    link(rel='stylesheet', href = '/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block scripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    include navbar

    block content
      .container
        .jumbotron
          h1=title
          p=message + ' y ' + title

    include footer
