extends layout.pug

block content
    .container
        .container
            h1=title
            p=message + ' y Pug ' + title
        .container
            .row
                div.col-lg-4
                    h2 Codigo de Ejemplo
                    block codepreview
                div.col-lg-5
                    h2 Codigo Ejecudado
                    pre
                        block coderun

